<form [formGroup]="questionForm" (ngSubmit)="answer()">
  <span>Dear Klaudia, would you like to be my valentine?</span>

  <div>
    <div>
      <input type="radio" id="yes" name="answer" formControlName="answer" value="yes" />
      <label for="yes">Yes</label>
    </div>

    <div>
      <input type="radio" id="no" name="answer" formControlName="answer" value="no" />
      <label for="no">No</label>
    </div>
  </div>

  <button type="submit" [disabled]="!this.questionForm.dirty">Answer</button>
</form>
